<div [ngClass]="{ dark: darkTheme }">
  <button (click)="toggleContrast()">Contrast</button>
  <div class="d-flex justify-content-start">
    <input
      class="searchbar"
      type="text"
      placeholder="Filter by Society"
      [(ngModel)]="searchText"
      (ngModelChange)="cleanFilterVariables(searchText)"
    />
    <button class="primary" type="button" (click)="filterResults(searchText)">Search</button>
    <!--<h4 *ngIf="searchText&&toggled">Vacancies Best Matching: {{searchText}}</h4>-->
  </div>

  <h2 id="page-heading" data-cy="VacanciesHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vacancies"
        [routerLink]="['/vacancies/new']"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vacancies </span>
      </button>
    </div>
  </h2>

  <jhi-alert></jhi-alert>
  <div class="filterBox">
    <div class="inputBox">
      <label>In-Person</label>
      <input type="checkbox" [(ngModel)]="person" />
    </div>
    <div class="inputBox">
      <label>Remote</label>
      <input type="checkbox" [(ngModel)]="remote" />
    </div>
    <div class="inputBox">
      <label>Start Date</label>
      <input
        id="field_vacancyStartDate"
        data-cy="vacancyStartDate"
        type="text"
        name="vacancyStartDate"
        ngbDatepicker
        [(ngModel)]="dateSelector"
        #vacancyStartDateDp="ngbDatepicker"
      />
      <button type="button" class="btn btn-secondary" (click)="vacancyStartDateDp.toggle()">
        <fa-icon icon="calendar-alt"></fa-icon>
      </button>
    </div>
    <div class="applyFilter">
      <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary" (click)="applyFilters()">
        Apply Filters
      </button>
    </div>
  </div>
  <div class="volunteerTracker">
    <button type="submit" data-cy="entityCreateSaveButton" class="btn btn-primary" (click)="openVolunteerTrackerDialog()">
      Volunteer Tracker
    </button>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="vacancies?.length === 0">
    <span>No Vacancies found</span>
  </div>
  <div class="table-responsive table-entities" id="entities" *ngIf="vacancies && vacancies.length > 0">
    <table [ngClass]="accountService.hasAnyAuthority('ROLE_ADMIN') ? 'admin-table' : 'user-table'" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vacancyTitle">
            <div class="d-flex">
              <span>Charity Society</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vacancyDescription">
            <div class="d-flex">
              <span>Vacancy</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vacancyStartDate">
            <div class="d-flex">
              <span>Vacancy Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" class="shrink"></th>
        </tr>
      </thead>
      <tbody *ngIf="searchText == '' && filteredVacancies">
        <tr *ngFor="let vacancies of filteredVacancies; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="id-field">
            <a [routerLink]="['/vacancies', vacancies.id, 'view']">{{ vacancies.id }}</a>
          </td>
          <td class="small-cell" style="text-align: center">
            <a *ngIf="vacancies.vacancyLogo" (click)="openFile(vacancies.vacancyLogo, vacancies.vacancyLogoContentType)">
              <img
                [src]="'data:' + vacancies.vacancyLogoContentType + ';base64,' + vacancies.vacancyLogo"
                style="max-height: 100px"
                alt="vacancies image"
              />
            </a>
            <div *ngIf="vacancies.charityProfile">
              <a [routerLink]="['/charity-profile', vacancies.charityProfile.id, 'view']" style="color: #140d07; font-weight: bold">{{
                vacancies.charityProfile.charityName
              }}</a>
            </div>
          </td>
          <td class="main">
            <span style="font-weight: bold">Job: </span>{{ vacancies.vacancyTitle }}<br /><span style="font-weight: bold">Start Date: </span
            >{{ vacancies.vacancyStartDate | formatMediumDate }}<br /><span style="font-weight: bold">Location: </span
            >{{ vacancies.vacancyLocation }}<br /><span style="font-weight: bold">Duration: </span>{{ vacancies.vacancyDuration
            }}<span> Hours</span>
          </td>
          <td class="last">{{ vacancies.vacancyDescription }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vacancies', vacancies.id, 'view']"
                class="btn btn-info btn-sm2"
                data-cy="entityDetailsButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vacancies', vacancies.id, 'edit']"
                class="btn btn-primary btn-sm2"
                data-cy="entityEditButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>
              <button
                type="submit"
                (click)="delete(vacancies)"
                class="btn btn-danger btn-sm2"
                data-cy="entityDeleteButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
            <div class="btn-group2">
              <button
                type="submit"
                (click)="openLoginCheckDialog(vacancies)"
                class="btn btn-sm1"
                *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')"
              >
                <span class="d-none d-md-inline">Apply Now</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="searchText != '' && filteredVacancies">
        <tr *ngFor="let vacancies of filteredVacancies; trackBy: trackId" data-cy="entityTable">
          <ng-container *ngIf="vacancies.charityProfile && filteredCharityId.includes(vacancies.charityProfile.id)">
            <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="id-field">
              <a [routerLink]="['/vacancies', vacancies.id, 'view']">{{ vacancies.id }}</a>
            </td>
            <td class="small-cell" style="text-align: center">
              <a *ngIf="vacancies.vacancyLogo" (click)="openFile(vacancies.vacancyLogo, vacancies.vacancyLogoContentType)">
                <img
                  [src]="'data:' + vacancies.vacancyLogoContentType + ';base64,' + vacancies.vacancyLogo"
                  style="max-height: 100px"
                  alt="vacancies image"
                />
              </a>
              <div *ngIf="vacancies.charityProfile">
                <a [routerLink]="['/charity-profile', vacancies.charityProfile.id, 'view']" style="color: #140d07; font-weight: bold">{{
                  vacancies.charityProfile.charityName
                }}</a>
              </div>
            </td>
            <td class="main">
              <span style="font-weight: bold">Job: </span>{{ vacancies.vacancyTitle }}<br /><span style="font-weight: bold"
                >Start Date: </span
              >{{ vacancies.vacancyStartDate | formatMediumDate }}<br /><span style="font-weight: bold">Location: </span
              >{{ vacancies.vacancyLocation }}<br /><span style="font-weight: bold">Duration: </span>{{ vacancies.vacancyDuration
              }}<span> Hours</span>
            </td>
            <td class="last">{{ vacancies.vacancyDescription }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/vacancies', vacancies.id, 'view']"
                  class="btn btn-info btn-sm2"
                  data-cy="entityDetailsButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/vacancies', vacancies.id, 'edit']"
                  class="btn btn-primary btn-sm2"
                  data-cy="entityEditButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
                <button
                  type="submit"
                  (click)="delete(vacancies)"
                  class="btn btn-danger btn-sm2"
                  data-cy="entityDeleteButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
              <div class="btn-group2">
                <button
                  type="submit"
                  (click)="openLoginCheckDialog(vacancies)"
                  class="btn btn-sm1"
                  *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')"
                >
                  <span class="d-none d-md-inline">Apply Now</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tbody *ngIf="searchText == '' && !filteredVacancies">
        <tr *ngFor="let vacancies of vacancies; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="id-field">
            <a [routerLink]="['/vacancies', vacancies.id, 'view']">{{ vacancies.id }}</a>
          </td>
          <td class="small-cell" style="text-align: center">
            <a *ngIf="vacancies.vacancyLogo" (click)="openFile(vacancies.vacancyLogo, vacancies.vacancyLogoContentType)">
              <img
                [src]="'data:' + vacancies.vacancyLogoContentType + ';base64,' + vacancies.vacancyLogo"
                style="max-height: 100px"
                alt="vacancies image"
              />
            </a>
            <div *ngIf="vacancies.charityProfile">
              <a [routerLink]="['/charity-profile', vacancies.charityProfile.id, 'view']" style="color: #140d07; font-weight: bold">{{
                vacancies.charityProfile.charityName
              }}</a>
            </div>
          </td>
          <td class="main">
            <span style="font-weight: bold">Job: </span>{{ vacancies.vacancyTitle }}<br /><span style="font-weight: bold">Start Date: </span
            >{{ vacancies.vacancyStartDate | formatMediumDate }}<br /><span style="font-weight: bold">Location: </span
            >{{ vacancies.vacancyLocation }}<br /><span style="font-weight: bold">Duration: </span>{{ vacancies.vacancyDuration
            }}<span> Hours</span>
          </td>
          <td class="last">{{ vacancies.vacancyDescription }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vacancies', vacancies.id, 'view']"
                class="btn btn-info btn-sm2"
                data-cy="entityDetailsButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vacancies', vacancies.id, 'edit']"
                class="btn btn-primary btn-sm2"
                data-cy="entityEditButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>
              <button
                type="submit"
                (click)="delete(vacancies)"
                class="btn btn-danger btn-sm2"
                data-cy="entityDeleteButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
            <div class="btn-group2">
              <button
                type="submit"
                (click)="openLoginCheckDialog(vacancies)"
                class="btn btn-sm1"
                *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')"
              >
                <span class="d-none d-md-inline">Apply Now</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="searchText != '' && !filteredVacancies">
        <tr *ngFor="let vacancies of vacancies; trackBy: trackId" data-cy="entityTable">
          <ng-container *ngIf="vacancies.charityProfile && filteredCharityId.includes(vacancies.charityProfile.id)">
            <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="id-field">
              <a [routerLink]="['/vacancies', vacancies.id, 'view']">{{ vacancies.id }}</a>
            </td>
            <td class="small-cell" style="text-align: center">
              <a *ngIf="vacancies.vacancyLogo" (click)="openFile(vacancies.vacancyLogo, vacancies.vacancyLogoContentType)">
                <img
                  [src]="'data:' + vacancies.vacancyLogoContentType + ';base64,' + vacancies.vacancyLogo"
                  style="max-height: 100px"
                  alt="vacancies image"
                />
              </a>
              <div *ngIf="vacancies.charityProfile">
                <a [routerLink]="['/charity-profile', vacancies.charityProfile.id, 'view']" style="color: #140d07; font-weight: bold">{{
                  vacancies.charityProfile.charityName
                }}</a>
              </div>
            </td>
            <td class="main">
              <span style="font-weight: bold">Job: </span>{{ vacancies.vacancyTitle }}<br /><span style="font-weight: bold"
                >Start Date: </span
              >{{ vacancies.vacancyStartDate | formatMediumDate }}<br /><span style="font-weight: bold">Location: </span
              >{{ vacancies.vacancyLocation }}<br /><span style="font-weight: bold">Duration: </span>{{ vacancies.vacancyDuration
              }}<span> Hours</span>
            </td>
            <td class="last">{{ vacancies.vacancyDescription }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/vacancies', vacancies.id, 'view']"
                  class="btn btn-info btn-sm2"
                  data-cy="entityDetailsButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/vacancies', vacancies.id, 'edit']"
                  class="btn btn-primary btn-sm2"
                  data-cy="entityEditButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
                <button
                  type="submit"
                  (click)="delete(vacancies)"
                  class="btn btn-danger btn-sm2"
                  data-cy="entityDeleteButton"
                  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
              <div class="btn-group2">
                <button
                  type="submit"
                  (click)="openLoginCheckDialog(vacancies)"
                  class="btn btn-sm1"
                  *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')"
                >
                  <span class="d-none d-md-inline">Apply Now</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
