.admin-table {
  //border: 10px solid #ffffff;
  width: 100%;
  background-color: #d2b48c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-table {
  width: 100%;
  background-color: #d2b48c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.th {
  border-right: 5px solid black;
}

.small-cell {
  width: 200px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  //border-right: none;
}
.main {
  width: 200px;
  text-align: center;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
.last {
  width: 300px;
  height: 1px;
  text-align: center;
  //border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.first {
  text-align: center;
  width: 100px;
  border: 5px solid black;
}

.btn-sm2 {
  border-radius: 80px;
  margin-top: 1px;
  margin-left: 75px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
  font-size: 15px;
  //margin-right: 200px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-sm1 {
  border-radius: 80px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
  font-size: 15px;
  margin-right: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 150px;
}
.container {
  text-align: left;
}

.primary {
  border-radius: 0 80px 80px 0;
  background-color: #ffffff;
  border-left: 10px solid black;
  font-size: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 6px;
}
.searchbar {
  border-radius: 80px 0 0 80px;
  width: 200px;
  padding: 6px;
  border: 10px solid #ffffff;
  font-size: 20px;
}

.id-field {
  border-bottom: 5px solid black;
  width: 100px;
  border-right: 5px solid black;
  text-align: center;
}
tr:first-child th {
  background-color: #d8c3a9;
}
.text-end {
  width: 100px;
  height: 1px;
  text-align: center;
  border-bottom: 5px solid black;
}

.filterBox {
  border: solid #d2b48c;
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table-entities {
  top: -400px;
  position: relative;
  margin-left: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page {
  height: auto;
}
.inputBox {
  padding: 10px;
}
.applyFilter {
  margin-left: 100px;
}
label {
  font-size: 20px;
  font-weight: bold;
}
.applyButton {
  margin-right: 500px;
}
.refresh {
  margin-top: 30px;
}
.justify-content-center {
  margin-top: -45px;
}
.justify-content-start {
  margin-top: 10px;
}
.justify-content-end {
  margin-top: -45px;
  margin-bottom: 45px;
}
