<div>
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="yellow">
      <div class="personal-details-section">
        <div>
          <div class="row mb-3">
            <label class="form-label" for="field_images">Images</label>
            <div>
              <img
                [src]="'data:' + editForm.get('imagesContentType')!.value + ';base64,' + editForm.get('images')!.value"
                style="max-height: 100px"
                *ngIf="editForm.get('images')!.value"
                alt="charityEvent image"
              />
              <div *ngIf="editForm.get('images')!.value" class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('imagesContentType')!.value }}, {{ byteSize(editForm.get('images')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('images', 'imagesContentType', 'file_images')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input type="file" id="file_images" data-cy="images" (change)="setFileData($event, 'images', true)" accept="image/*" />
            </div>
            <input type="hidden" class="form-control" name="images" id="field_images" data-cy="images" formControlName="images" />
            <input
              type="hidden"
              class="form-control"
              name="imagesContentType"
              id="field_imagesContentType"
              formControlName="imagesContentType"
            />
          </div>
        </div>
      </div>

      <div class="profile-details-section">
        <div>
          <div class="detail-row">
            <h6 class="field-name">Name:</h6>
            <input type="text" class="bar form-control input-bar" name="name" id="field_name" data-cy="name" formControlName="name" />
            <div class="pencil"></div>
          </div>
          <div class="detail-row">
            <h6 class="field-name">Course Details:</h6>
            <input
              type="text"
              class="bar form-control input-bar"
              name="course"
              id="field_course"
              data-cy="course"
              formControlName="course"
            />
            <div class="pencil"></div>
          </div>
          <div class="detail-row">
            <h6 class="field-name">Bio:</h6>
            <input
              type="text"
              class="bar form-control input-bar"
              name="userBio"
              id="field_userBio"
              data-cy="userBio"
              formControlName="userBio"
              readonly
            />
            <div class="pencil"></div>
          </div>
          <div class="detail-row">
            <h6 class="field-name">Skills:</h6>
            <input
              type="text"
              class="bar form-control input-bar"
              name="skills"
              id="field_skills"
              data-cy="skills"
              formControlName="skills"
            />
            <div class="pencil"></div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </div>
  </form>
</div>
