.btn-sm2 {
  border-radius: 80px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: green;
  border-color: #ffffff;
  color: black;
  font-size: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-sm1 {
  border-radius: 80px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: red;
  border-color: #ffffff;
  color: black;
  font-size: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
