<ng-template [ngIf]="!accountService.isAuthenticated()" [ngIfElse]="loggedIn">
  <div class="modal-body">
    <p>Please Login to continue with</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Go Back</span>
    </button>
    <button id="jhi-confirm-delete-vacancies" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Login/Register Now!</span>
    </button>
  </div>
</ng-template>

<ng-template #loggedIn>
  <div class="modal-body">
    <p>Need to Redirect To Volunteer Application</p>
  </div>
</ng-template>
