<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="approvedVolunteers">
      <h2 data-cy="approvedVolunteersDetailsHeading"><span>Approved Volunteers</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ approvedVolunteers.id }}</span>
        </dd>
        <dt><span>Volunteer Status</span></dt>
        <dd>
          <span>{{ approvedVolunteers.volunteerStatus }}</span>
        </dd>
        <dt><span>Volunteer Hours Completed In Charity</span></dt>
        <dd>
          <span>{{ approvedVolunteers.volunteerHoursCompletedInCharity }}</span>
        </dd>
        <dt><span>Current Event Volunteering In</span></dt>
        <dd>
          <span>{{ approvedVolunteers.currentEventVolunteeringIn }}</span>
        </dd>
        <dt><span>Volunteer Applications</span></dt>
        <dd>
          <div *ngIf="approvedVolunteers.volunteerApplications">
            <a [routerLink]="['/volunteer-applications', approvedVolunteers.volunteerApplications.id, 'view']">{{
              approvedVolunteers.volunteerApplications.id
            }}</a>
          </div>
        </dd>
        <dt><span>User Page</span></dt>
        <dd>
          <div *ngIf="approvedVolunteers.userPage">
            <a [routerLink]="['/user-page', approvedVolunteers.userPage.id, 'view']">{{ approvedVolunteers.userPage.id }}</a>
          </div>
        </dd>
        <dt><span>Charity Profile</span></dt>
        <dd>
          <div *ngIf="approvedVolunteers.charityProfile">
            <a [routerLink]="['/charity-profile', approvedVolunteers.charityProfile.id, 'view']">{{
              approvedVolunteers.charityProfile.charityName
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/approved-volunteers', approvedVolunteers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
