<div>
  <div class="yellow">
    <div class="personal-details-section">
      <div class="profile-pic"></div>
      <div>
        <h2 class="name">Haffi Khalid</h2>
        <h6>he/him</h6>
        <h6>20 years</h6>
      </div>
    </div>

    <div class="profile-details-section">
      <div>
        <div class="detail-row">
          <h6 class="field-name">Username:</h6>
          <input type="text" class="bar form-control input-bar" value="Haffman56" />
        </div>
        <div class="detail-row">
          <h6 class="field-name">Course Details:</h6>
          <input type="text" class="bar form-control input-bar" value="Computer Science Student" />
          <div class="pencil"></div>
        </div>
        <div class="detail-row">
          <h6 class="field-name">Bio:</h6>
          <input type="text" class="bar form-control input-bar" value="Passionate about Photography, and helping people in need" />
          <div class="pencil"></div>
        </div>
        <div class="detail-row">
          <h6 class="field-name">Volunteer Skills:</h6>
          <input type="text" class="bar form-control input-bar" value="Communication, Time Management" />
          <div class="pencil"></div>
        </div>
        <div class="detail-row">
          <h6 class="field-name">Social Media Links:</h6>
          <input type="text" class="bar form-control input-bar" value="Instagram @haffi_khalid" />
          <div class="pencil"></div>
        </div>
      </div>
    </div>
  </div>
</div>
