<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userPage">
      <h2 data-cy="userPageDetailsHeading"><span>User Page</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userPage.id }}</span>
        </dd>
        <dt><span>Profile Picture</span></dt>
        <dd>
          <div *ngIf="userPage.profilePicture">
            <a (click)="openFile(userPage.profilePicture, userPage.profilePictureContentType)">
              <img
                [src]="'data:' + userPage.profilePictureContentType + ';base64,' + userPage.profilePicture"
                style="max-width: 100%"
                alt="userPage image"
              />
            </a>
            {{ userPage.profilePictureContentType }}, {{ byteSize(userPage.profilePicture) }}
          </div>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ userPage.name }}</span>
        </dd>
        <dt><span>User Bio</span></dt>
        <dd>
          <span>{{ userPage.userBio }}</span>
        </dd>
        <dt><span>Volunteer Hours</span></dt>
        <dd>
          <span>{{ userPage.volunteerHours }}</span>
        </dd>
        <dt><span>Review Comment</span></dt>
        <dd>
          <span>{{ userPage.reviewComment }}</span>
        </dd>
        <dt><span>Course</span></dt>
        <dd>
          <span>{{ userPage.course }}</span>
        </dd>
        <dt><span>Skills</span></dt>
        <dd>
          <span>{{ userPage.skills }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ userPage.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-page', userPage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
