<h1><u>UOB Charity Hub Privacy Policy</u></h1>
<h2><u>What data do we collect?</u></h2>
<p>UOB Charity Hub collects the following data:</p>
<ul>
  <li>
    Personal identification information:
    <ul>
      <li>First Name and Last Name</li>
      <li>Email address</li>
      <li>Contact number</li>
    </ul>
  </li>
</ul>

<h2><u>Why will the data be collected?</u></h2>
<p>User identification</p>
<p>Manage account</p>

<h2><u>How do we collect your data?</u></h2>
<p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
<ul>
  <li>Register online and make an account on the website</li>
  <li>Voluntarily complete a customer survey to provide feedback on our web application.</li>
  <li>Use or view our website via your browser’s cookies.</li>
</ul>
<p>Our Company may also receive data indirectly from the following source:</p>
<p>Guild Student Union</p>

<h2><u>How will we use your data?</u></h2>
<p>UOB Charity Hub collects your data so that we can:</p>
<ul>
  <li>Manage account</li>
  <li>Authenticate user and manage their access to UOB Charity Hub</li>
  <li>Communicate with user about volunteering updates and application updates</li>
</ul>

<h2><u>How do we store your data?</u></h2>
<p>
  UOB Charity Hub securely stores your data at the University of Birmingham and the following security precautions are taken to make sure
  that your data is safe:
</p>
<ul>
  <li>Data encryption before it is stored.</li>
  <li>The data is regularly backed-up to ensure that there is no data loss.</li>
  <li>Access to the apps data is monitored to ensure there is no unauthorised access.</li>
  <li>Proper access control is set to ensure there is no unauthorised access.</li>
</ul>
<p>Workers that have access to the app's data will have to use strong passwords and two-factor authentication.</p>

<p>
  UOB Charity Hub will keep your personal data for 3 years(duration of being a student at the university). Once this time period has
  expired, we will delete your data by notifying the user of their account termination and correctly identifying the data that needs to be
  deleted and wiping it from our system.
</p>

<h2><u>What are your data protection rights?</u></h2>
<p>
  UOB Charity Hub would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the
  following:
</p>
<ul>
  <li>The right to access - You have the right to request UOB Charity Hub for copies of your personal data.</li>
  <li>
    The right to rectification - You have the right to request that UOB Charity Hub correct any information you believe is inaccurate. You
    also have the right to request UOB Charity Hub to complete information you believe is incomplete.
  </li>
  <li>The right to erasure - You have the right to request that UOB Charity Hub erase your personal data, under certain conditions.</li>
  <li>
    The right to restrict processing - You have the right to request that UOB Charity Hub restrict the processing of your personal data,
    under certain conditions.
  </li>
  <li>
    The right to object to processing - You have the right to object to UOB Charity Hub’s processing of your personal data, under certain
    conditions.
  </li>
  <li>
    The right to data portability - You have the right to request that UOB Charity Hub transfer the data that we have collected to another
    organization, or directly to you, under certain conditions.
  </li>
</ul>

<p>
  If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our
  email:
</p>
<ul>
  <li>tos008@student.bham.ac.uk</li>
  <li>kxp253@student.bham.ac.uk</li>
  <li>sxp426@student.bham.ac.uk</li>
  <li>smp237@student.bham.ac.uk</li>
  <li>mxm1454@student.bham.ac.uk</li>
  <li>rxy297@student.bham.ac.uk</li>
  <li>mxk419@student.bham.ac.uk</li>
</ul>
