<div>
  <div>
    <div>
      <div *ngIf="charityHubUser">
        <div class="yellow">
          <div class="personal-details-section">
            <div>
              <img
                *ngIf="charityHubUser.images"
                [src]="'data:' + charityHubUser.imagesContentType + ';base64,' + charityHubUser.images"
                alt="Profile Picture"
                class="img-thumbnail"
                style="
                  max-width: 200px;
                  max-height: 200px;
                  margin-right: auto;
                  height: 200px;
                  width: 200px;
                  border-radius: 100px;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              />
            </div>
            <div>
              <h2 class="name">{{ charityHubUser.username }}</h2>
            </div>
            <div class="badge-container">
              <div class="grid-item badge1"></div>
              <div class="grid-item badge2"></div>
              <div class="grid-item badge3"></div>
              <div class="grid-item badge4"></div>
            </div>
          </div>

          <div class="profile-details-section">
            <div>
              <div class="detail-row">
                <h6 class="field-name">Name:</h6>

                <input type="text" class="bar form-control input-bar" value="{{ charityHubUser.name }}" readonly />
              </div>
              <div class="detail-row">
                <h6 class="field-name">Course Details:</h6>
                <input type="text" class="bar form-control input-bar" value="{{ charityHubUser.course }}" readonly />
              </div>
              <div class="detail-row">
                <h6 class="field-name">Bio:</h6>
                <input type="text" class="bar form-control input-bar" value="{{ charityHubUser.userBio }}" readonly />
              </div>
              <div class="detail-row">
                <h6 class="field-name">Skills:</h6>
                <input type="text" class="bar form-control input-bar" value="{{ charityHubUser.skills }}" readonly />
              </div>
            </div>
          </div>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/charity-hub-user', charityHubUser.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
