<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="charityAdmin">
      <h2 data-cy="charityAdminDetailsHeading"><span>Charity Admin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ charityAdmin.id }}</span>
        </dd>
        <dt><span>Is Charity Admin</span></dt>
        <dd>
          <span>{{ charityAdmin.isCharityAdmin }}</span>
        </dd>
        <dt><span>Budget Planner</span></dt>
        <dd>
          <div *ngIf="charityAdmin.budgetPlanner">
            <a [routerLink]="['/budget-planner', charityAdmin.budgetPlanner.id, 'view']">{{ charityAdmin.budgetPlanner.id }}</a>
          </div>
        </dd>
        <dt><span>Charity Profile</span></dt>
        <dd>
          <div *ngIf="charityAdmin.charityProfile">
            <a [routerLink]="['/charity-profile', charityAdmin.charityProfile.id, 'view']">{{ charityAdmin.charityProfile.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/charity-admin', charityAdmin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
