<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fundraisingIdea">
      <h2 data-cy="fundraisingIdeaDetailsHeading"><span>Fundraising Idea</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fundraisingIdea.id }}</span>
        </dd>
        <dt><span>Idea Name</span></dt>
        <dd>
          <span>{{ fundraisingIdea.ideaName }}</span>
        </dd>
        <dt><span>Idea Description</span></dt>
        <dd>
          <span>{{ fundraisingIdea.ideaDescription }}</span>
        </dd>
        <dt><span>Number Of Volunteers</span></dt>
        <dd>
          <span>{{ fundraisingIdea.numberOfVolunteers }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ fundraisingIdea.location }}</span>
        </dd>
        <dt><span>Expected Cost</span></dt>
        <dd>
          <span>{{ fundraisingIdea.expectedCost }}</span>
        </dd>
        <dt><span>Expected Attendance</span></dt>
        <dd>
          <span>{{ fundraisingIdea.expectedAttendance }}</span>
        </dd>
        <dt><span>Charity Admin</span></dt>
        <dd>
          <div *ngIf="fundraisingIdea.charityAdmin">
            <a [routerLink]="['/charity-admin', fundraisingIdea.charityAdmin.id, 'view']">{{ fundraisingIdea.charityAdmin.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fundraising-idea', fundraisingIdea.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
