<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="volunteerApplications">
      <h2 data-cy="volunteerApplicationsDetailsHeading"><span>Volunteer Applications</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ volunteerApplications.id }}</span>
        </dd>
        <dt><span>Time Stamp</span></dt>
        <dd>
          <span>{{ volunteerApplications.timeStamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Volunteer Status</span></dt>
        <dd>
          <span>{{ volunteerApplications.volunteerStatus }}</span>
        </dd>
        <dt><span>Charity Profile</span></dt>
        <dd>
          <div *ngIf="volunteerApplications.charityProfile">
            <a [routerLink]="['/charity-profile', volunteerApplications.charityProfile.id, 'view']">{{
              volunteerApplications.charityProfile.id
            }}</a>
          </div>
        </dd>
        <dt><span>User Page</span></dt>
        <dd>
          <div *ngIf="volunteerApplications.userPage">
            <a [routerLink]="['/user-page', volunteerApplications.userPage.id, 'view']">{{ volunteerApplications.userPage.user }}</a>
          </div>
        </dd>
        <dt><span>Vacancies</span></dt>
        <dd>
          <div *ngIf="volunteerApplications.vacancies">
            <a [routerLink]="['/vacancies', volunteerApplications.vacancies.id, 'view']">{{ volunteerApplications.vacancies.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/volunteer-applications', volunteerApplications.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
