<div>
  <h2 id="page-heading" data-cy="VolunteerApplicationsHeading">
    <span>Volunteer Applications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-volunteer-applications"
        [routerLink]="['/volunteer-applications/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Volunteer Applications </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="volunteerApplications?.length === 0">
    <span>No Volunteer Applications found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="volunteerApplications && volunteerApplications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeStamp">
            <div class="d-flex">
              <span>Time Stamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="volunteerStatus">
            <div class="d-flex">
              <span>Volunteer Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityProfile.id">
            <div class="d-flex">
              <span>Charity Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userPage.user">
            <div class="d-flex">
              <span>User Page</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vacancies.id">
            <div class="d-flex">
              <span>Vacancies</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let volunteerApplications of volunteerApplications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/volunteer-applications', volunteerApplications.id, 'view']">{{ volunteerApplications.id }}</a>
          </td>
          <td>{{ volunteerApplications.timeStamp | formatMediumDatetime }}</td>
          <td>{{ volunteerApplications.volunteerStatus }}</td>
          <td>
            <div *ngIf="volunteerApplications.charityProfile">
              <a [routerLink]="['/charity-profile', volunteerApplications.charityProfile.id, 'view']">{{
                volunteerApplications.charityProfile.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="volunteerApplications.userPage">
              <a [routerLink]="['/user-page', volunteerApplications.userPage.id, 'view']">{{ volunteerApplications.userPage.user }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="volunteerApplications.vacancies">
              <a [routerLink]="['/vacancies', volunteerApplications.vacancies.id, 'view']">{{ volunteerApplications.vacancies.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/volunteer-applications', volunteerApplications.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/volunteer-applications', volunteerApplications.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(volunteerApplications)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
