<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="charityEvent">
      <h2 data-cy="charityEventDetailsHeading"><span>Charity Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ charityEvent.id }}</span>
        </dd>
        <dt><span>Event Name</span></dt>
        <dd>
          <span>{{ charityEvent.eventName }}</span>
        </dd>
        <dt><span>Event Time Date</span></dt>
        <dd>
          <span>{{ charityEvent.eventTimeDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ charityEvent.description }}</span>
        </dd>
        <dt><span>Images</span></dt>
        <dd>
          <div *ngIf="charityEvent.images">
            <a (click)="openFile(charityEvent.images, charityEvent.imagesContentType)">
              <img
                [src]="'data:' + charityEvent.imagesContentType + ';base64,' + charityEvent.images"
                style="max-width: 100%"
                alt="charityEvent image"
              />
            </a>
            {{ charityEvent.imagesContentType }}, {{ byteSize(charityEvent.images) }}
          </div>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ charityEvent.duration }}</span>
        </dd>
        <dt><span>Charity Profile</span></dt>
        <dd>
          <div *ngIf="charityEvent.charityProfile">
            <a [routerLink]="['/charity-profile', charityEvent.charityProfile.id, 'view']">{{ charityEvent.charityProfile.charityName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/charity-event', charityEvent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
