<div>
  <h2 id="page-heading" data-cy="ApprovedVolunteersHeading">
    <span>Approved Volunteers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-approved-volunteers"
        [routerLink]="['/approved-volunteers/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Approved Volunteers </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="approvedVolunteers?.length === 0">
    <span>No Approved Volunteers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="approvedVolunteers && approvedVolunteers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="volunteerStatus">
            <div class="d-flex">
              <span>Volunteer Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="volunteerHoursCompletedInCharity">
            <div class="d-flex">
              <span>Volunteer Hours Completed In Charity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentEventVolunteeringIn">
            <div class="d-flex">
              <span>Current Event Volunteering In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="volunteerApplications.id">
            <div class="d-flex">
              <span>Volunteer Applications</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userPage.id">
            <div class="d-flex">
              <span>User Page</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityProfile.charityName">
            <div class="d-flex">
              <span>Charity Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let approvedVolunteers of approvedVolunteers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/approved-volunteers', approvedVolunteers.id, 'view']">{{ approvedVolunteers.id }}</a>
          </td>
          <td>{{ approvedVolunteers.volunteerStatus }}</td>
          <td>{{ approvedVolunteers.volunteerHoursCompletedInCharity }}</td>
          <td>{{ approvedVolunteers.currentEventVolunteeringIn }}</td>
          <td>
            <div *ngIf="approvedVolunteers.volunteerApplications">
              <a [routerLink]="['/volunteer-applications', approvedVolunteers.volunteerApplications.id, 'view']">{{
                approvedVolunteers.volunteerApplications.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="approvedVolunteers.userPage">
              <a [routerLink]="['/user-page', approvedVolunteers.userPage.id, 'view']">{{ approvedVolunteers.userPage.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="approvedVolunteers.charityProfile">
              <a [routerLink]="['/charity-profile', approvedVolunteers.charityProfile.id, 'view']">{{
                approvedVolunteers.charityProfile.charityName
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/approved-volunteers', approvedVolunteers.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/approved-volunteers', approvedVolunteers.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(approvedVolunteers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
