<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-approved-volunteers-heading" data-cy="ApprovedVolunteersCreateUpdateHeading">Create or edit a Approved Volunteers</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_volunteerStatus">Volunteer Status</label>
          <input
            type="checkbox"
            class="form-check"
            name="volunteerStatus"
            id="field_volunteerStatus"
            data-cy="volunteerStatus"
            formControlName="volunteerStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_volunteerHoursCompletedInCharity">Volunteer Hours Completed In Charity</label>
          <input
            type="number"
            class="form-control"
            name="volunteerHoursCompletedInCharity"
            id="field_volunteerHoursCompletedInCharity"
            data-cy="volunteerHoursCompletedInCharity"
            formControlName="volunteerHoursCompletedInCharity"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentEventVolunteeringIn">Current Event Volunteering In</label>
          <input
            type="text"
            class="form-control"
            name="currentEventVolunteeringIn"
            id="field_currentEventVolunteeringIn"
            data-cy="currentEventVolunteeringIn"
            formControlName="currentEventVolunteeringIn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_charityHubUser">Charity Hub User</label>
          <select
            class="form-control"
            id="field_charityHubUser"
            data-cy="charityHubUser"
            name="charityHubUser"
            formControlName="charityHubUser"
            [compareWith]="compareCharityHubUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityHubUserOption" *ngFor="let charityHubUserOption of charityHubUsersSharedCollection">
              {{ charityHubUserOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_charityAdmin">Charity Admin</label>
          <select
            class="form-control"
            id="field_charityAdmin"
            data-cy="charityAdmin"
            name="charityAdmin"
            formControlName="charityAdmin"
            [compareWith]="compareCharityAdmin"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityAdminOption" *ngFor="let charityAdminOption of charityAdminsSharedCollection">
              {{ charityAdminOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
