<div>
  <div class="centered-container">
    <div *ngFor="let charityHubUser of charityHubUsers; trackBy: trackId" data-cy="entityTable">
      <div class="username-large">{{ charityHubUser.username }}</div>
      <button
        type="submit"
        [routerLink]="['/charity-hub-user', charityHubUser.id, 'view']"
        class="large-button"
        data-cy="entityDetailsButton"
        tabindex="0"
        (keydown)="onKeyPress($event, charityHubUser)"
      >
        Go To My Profile
      </button>
    </div>
  </div>
</div>
