<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reviewComments">
      <h2 data-cy="reviewCommentsDetailsHeading"><span>Review Comments</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ reviewComments.id }}</span>
        </dd>
        <dt><span>Parent ID</span></dt>
        <dd>
          <span>{{ reviewComments.parentID }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ reviewComments.content }}</span>
        </dd>
        <dt><span>Timestamp</span></dt>
        <dd>
          <span>{{ reviewComments.timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ reviewComments.status }}</span>
        </dd>
        <dt><span>Like Count</span></dt>
        <dd>
          <span>{{ reviewComments.likeCount }}</span>
        </dd>
        <dt><span>User Page</span></dt>
        <dd>
          <div *ngIf="reviewComments.userPage">
            <a [routerLink]="['/user-page', reviewComments.userPage.id, 'view']">{{ reviewComments.userPage.user }}</a>
          </div>
        </dd>
        <dt><span>Charity Profile</span></dt>
        <dd>
          <div *ngIf="reviewComments.charityProfile">
            <a [routerLink]="['/charity-profile', reviewComments.charityProfile.id, 'view']">{{
              reviewComments.charityProfile.charityName
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/review-comments', reviewComments.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
