<div>
  <h2 id="page-heading" data-cy="FundraisingIdeaHeading">
    <div class="banner-area">
      <h2 class="page-heading">Generate Ideas!</h2>
      <span class="banner-img"></span>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fundraising-idea"
        [routerLink]="['/fundraising-idea/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Add a new Fundraising Idea </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <h2 class="subheading">Idea Generator</h2>
  <p class="body-text">Feeling a bit lost on ideas? Try out our idea generator!</p>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="idea-box" id="popular-ideas" (click)="load()">
        <h3>All Ideas</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="idea-box" (click)="getRandomIdea()">
        <h3>Random Ideas</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="idea-box" (click)="openForm()">
        <h3>Get a Particular Idea</h3>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" *ngIf="showPopup" (click)="onDocumentClick($event)">
  <div class="popup-content">
    <span class="card-subheading">Here is a fun Random Idea!</span>
    <div class="popup-horizontal-line"></div>
    <span class="close-button" (click)="hideRandomPopup()">X</span>
    <h2 class="popup-title">{{ randomIdea?.ideaName }}</h2>
    <p class="card-text-heading">
      Description: <span class="card-text">{{ randomIdea?.ideaDescription }}</span>
    </p>
    <p class="random-card-text-heading">
      <span class="card-text-label">Cost:</span>
      <span class="card-text-value">£{{ randomIdea?.expectedCost }}</span>
      <span class="card-text-label">Number of Volunteers:</span>
      <span class="card-text-value">{{ randomIdea?.numberOfVolunteers }}</span>
    </p>
    <div class="popup-buttons">
      <button class="popup-button" (click)="getRandomIdea()">Give Me Another Idea</button>
      <button class="popup-button close-button" (click)="hideRandomPopup()">X</button>
    </div>
  </div>
</div>
<!-- Popup form -->
<div id="idea-popup-form" class="popup-form" *ngIf="isFormOpen">
  <div class="popup-content">
    <span class="close-btn" (click)="closeForm()">&times;</span>
    <form (submit)="onSubmit()">
      <div class="mb-4">
        <label for="numberOfVolunteers">Number of Volunteers</label>
        <input
          type="number"
          id="numberOfVolunteers"
          name="numberOfVolunteers"
          class="form-control"
          [(ngModel)]="idea.numberOfVolunteers"
          placeholder="Enter number of volunteers"
        />
      </div>
      <div class="mb-4">
        <label for="location">Location</label>
        <select id="location" name="location" class="form-control" [(ngModel)]="idea.location">
          <option value="INPERSON">Indoor</option>
          <option value="REMOTE">Outdoor</option>
          <option value="NULL">Any</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="expectedCost">Expected Cost</label>
        <input
          type="number"
          id="expectedCost"
          name="expectedCost"
          class="form-control"
          [(ngModel)]="idea.expectedCost"
          placeholder="Enter expected cost"
        />
      </div>
      <div class="mb-4">
        <label for="expectedAttendance">Expected Attendance</label>
        <input
          type="number"
          id="expectedAttendance"
          name="expectedAttendance"
          class="form-control"
          [(ngModel)]="idea.expectedAttendance"
          placeholder="Enter expected attendance"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="alert alert-warning" id="no-result" *ngIf="fundraisingIdeas?.length === 0">
  <span>No Fundraising Ideas found</span>
</div>

<div class="horizontal-line"></div>
<div class="table-responsive table-entities" id="entities" *ngIf="fundraisingIdeas && fundraisingIdeas.length > 0">
  <div class="row">
    <div class="col-md-4" *ngFor="let fundraisingIdea of fundraisingIdeas; trackBy: trackId">
      <div class="card mb-3">
        <div class="card-header">
          <div class="d-flex">
            <span class="card-subheading">{{ fundraisingIdea.ideaName }}</span>
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">{{ fundraisingIdea.ideaDescription }}</p>
          <p class="card-text-heading">
            Volunteers Required: <span class="card-text"> {{ fundraisingIdea.numberOfVolunteers }}</span>
          </p>
          <p class="card-text-heading">
            Location: <span class="card-text">{{ fundraisingIdea.location }}</span>
          </p>
          <p class="card-text-heading">
            Expected Cost: <span class="card-text">{{ fundraisingIdea.expectedCost }}</span>
          </p>
          <p class="card-text-heading">
            Expected Attendance: <span class="card-text"> {{ fundraisingIdea.expectedAttendance }}</span>
          </p>
        </div>
        <div class="card-footer text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/fundraising-idea', fundraisingIdea.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/fundraising-idea', fundraisingIdea.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(fundraisingIdea)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
