<!DOCTYPE html>
<html lang="en">
  <div class="popup-overlay">
    <div class="popup-content">
      <h1>Here is a fun Random Idea!</h1>
      <span class="close-button" (click)="closePopup()">X</span>
      <h2 class="popup-title">{{ idea?.ideaName }}</h2>
      <p class="popup-description">{{ idea?.ideaDescription }}</p>
      <div class="popup-buttons">
        <button class="popup-button">Give Me Another Idea</button>
        <button class="popup-button close-button" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</html>
