<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-group-donator-heading" data-cy="GroupDonatorCreateUpdateHeading">Create or edit a Group Donator</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_groupName">Group Name</label>
          <input type="text" class="form-control" name="groupName" id="field_groupName" data-cy="groupName" formControlName="groupName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalCollectedAmount">Total Collected Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalCollectedAmount"
            id="field_totalCollectedAmount"
            data-cy="totalCollectedAmount"
            formControlName="totalCollectedAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_donatorPage">Donator Page</label>
          <select
            class="form-control"
            id="field_donatorPage"
            data-cy="donatorPage"
            name="donatorPage"
            formControlName="donatorPage"
            [compareWith]="compareDonatorPage"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="donatorPageOption" *ngFor="let donatorPageOption of donatorPagesCollection">
              {{ donatorPageOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_charityEvent">Charity Event</label>
          <select
            class="form-control"
            id="field_charityEvent"
            data-cy="charityEvent"
            name="charityEvent"
            formControlName="charityEvent"
            [compareWith]="compareCharityEvent"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityEventOption" *ngFor="let charityEventOption of charityEventsSharedCollection">
              {{ charityEventOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
