<div>
  <header>
    <div class="banner-area">
      <div class="banner-text-section">
        <h1 id="page-heading" data-cy="DonatorPageHeading" class="banner-heading">Make a Donation</h1>
        <p class="donate-description">
          Make a difference today! Your generous donation can transform lives. Your contribution matters – help us save lives and build a
          brighter future for communities around the world. Support organizations like:
          <span class="charity-item">UNICEF</span>
          <span class="charity-item">Amnesty International</span>
          <span class="charity-item">Action Against Homelessness (AAH)</span>
          <span class="charity-item">Beat UOB</span>
          <span class="charity-item">Make a Smile</span>
        </p>
        <button id="jh-create-entity" data-cy="entityCreateButton" class="donate-now-button key" [routerLink]="['/donator-page/new']">
          <span> DONATE NOW </span>
        </button>
      </div>
    </div>
  </header>

  <!--  <h2 id="page-heading" data-cy="DonatorPageHeading">-->
  <!--    <span>Make a Donation</span>-->
  <section class="section-2">
    <div class="group-donator-section">
      <article class="right-orient-section">
        <div class="image image-2"></div>
        <div class="text-section">
          <h3 class="section-2-headings">Why your Donation Matters?</h3>
          <div class="text">
            Your generous donation is a lifeline for our mission, enabling us to make a profound impact on lives around the world. With your
            support, we can continue to drive positive change, uplift communities, and create a brighter, more hopeful future.
          </div>
        </div>
      </article>

      <article class="right-orient-section">
        <div class="text-section">
          <h3 class="section-2-headings">Consider Group Donations:</h3>
          <div class="text text-btn-gap">
            Planning an event? Amplify your impact by creating a group donation! Unite your community in giving, making your event not only
            memorable but also a powerful force for good. Together, we can make a difference that resonates far beyond the confines of any
            single occasion.
          </div>
          <div class="text-button">Coming Soon</div>
          <!--          <div class="group-donation-btn">Coming Soon</div>-->
        </div>
        <div class="image image-1"></div>
      </article>
    </div>

    <section class="live-tracker-section">
      <div class="live-tracker-header">
        <h1 class="header-heading">Live Donations Tracker</h1>

        <div class="d-flex justify-content-end">
          <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span>Refresh list</span>
          </button>
        </div>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="alert alert-warning" id="no-result" *ngIf="donatorPages?.length === 0">
        <span>No Donators found</span>
      </div>

      <div class="table-responsive table-entities" id="entities" *ngIf="donatorPages && donatorPages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <!--      <thead>-->
          <!--        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">-->
          <!--&lt;!&ndash;          <th scope="col" jhiSortBy="id">&ndash;&gt;-->
          <!--&lt;!&ndash;            <div class="d-flex">&ndash;&gt;-->
          <!--&lt;!&ndash;              <span>ID</span>&ndash;&gt;-->
          <!--&lt;!&ndash;              <fa-icon class="p-1" icon="sort"></fa-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;            </div>&ndash;&gt;-->
          <!--&lt;!&ndash;          </th>&ndash;&gt;-->
          <!--          <th scope="col" jhiSortBy="name">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Name</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="anonymous">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Anonymous</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="amount">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Amount</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--&lt;!&ndash;          <th scope="col" jhiSortBy="groupDonation">&ndash;&gt;-->
          <!--&lt;!&ndash;            <div class="d-flex">&ndash;&gt;-->
          <!--&lt;!&ndash;              <span>Group Donation</span>&ndash;&gt;-->
          <!--&lt;!&ndash;              <fa-icon class="p-1" icon="sort"></fa-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;            </div>&ndash;&gt;-->
          <!--&lt;!&ndash;          </th>&ndash;&gt;-->
          <!--          <th scope="col" jhiSortBy="charityProfile.id">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Charity Profile</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <!--          <th scope="col"></th>-->
          <!--        </tr>-->
          <!--      </thead>-->
          <tbody>
            <tr *ngFor="let donatorPage of donatorPages; trackBy: trackId" data-cy="entityTable">
              <!--          <td>-->
              <!--            <a [routerLink]="['/donator-page', donatorPage.id, 'view']">{{ donatorPage.id }}</a>-->
              <!--          </td>-->

              <td>
                <div *ngIf="!donatorPage.anonymous; else anonymousText">
                  {{ donatorPage.name }} donated £{{ donatorPage.amount }} to {{ getCharityName(donatorPage.charityProfile?.id) }}
                </div>
                <ng-template #anonymousText>
                  Anonymous donated £{{ donatorPage.amount }} to {{ getCharityName(donatorPage.charityProfile?.id) }}
                </ng-template>

                <!--                  <div  *ngIf="!donatorPage.anonymous; else anonymousText">-->
                <!--                    {{ donatorPage.name }} donated £{{ donatorPage.amount }} to-->
                <!--                    <div class="text">{{ getCharityName(donatorPage.charityProfile?.id) }}</div>-->
                <!--                  </div>-->
                <!--                  <ng-template #anonymousText>-->
                <!--                    Anonymous donated £{{ donatorPage.amount }} to-->
                <!--                    <div class="text">{{ getCharityName(donatorPage.charityProfile?.id) }}</div>-->
                <!--                  </ng-template>-->
              </td>
              <!--          <td>{{ donatorPage.name }}</td>-->
              <!--          <td>{{ donatorPage.anonymous }}</td>-->
              <!--          <td>{{ donatorPage.amount }}</td>-->
              <!--          <td>-->
              <!--            <div *ngIf="donatorPage.charityProfile">-->
              <!--              <a [routerLink]="['/charity-profile', donatorPage.charityProfile.id, 'view']">{{ donatorPage.charityProfile }}</a>-->
              <!--            </div>-->
              <!--          </td>-->
              <!--          <td>{{ donatorPage.groupDonation }}</td>-->

              <td class="text-end">
                <div class="btn-group">
                  <!--              <button-->
                  <!--                type="submit"-->
                  <!--                [routerLink]="['/donator-page', donatorPage.id, 'view']"-->
                  <!--                class="btn btn-info btn-sm"-->
                  <!--                data-cy="entityDetailsButton"-->
                  <!--              >-->
                  <!--                <fa-icon icon="eye"></fa-icon>-->
                  <!--                <span class="d-none d-md-inline">View</span>-->
                  <!--              </button>-->

                  <!--              <button-->
                  <!--                type="submit"-->
                  <!--                [routerLink]="['/donator-page', donatorPage.id, 'edit']"-->
                  <!--                class="btn btn-primary btn-sm"-->
                  <!--                data-cy="entityEditButton"-->
                  <!--              >-->
                  <!--                <fa-icon icon="pencil-alt"></fa-icon>-->
                  <!--                <span class="d-none d-md-inline">Edit</span>-->
                  <!--              </button>-->

                  <!--              <button type="submit" (click)="delete(donatorPage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">-->
                  <!--                <fa-icon icon="times"></fa-icon>-->
                  <!--                <span class="d-none d-md-inline">Delete</span>-->
                  <!--              </button>-->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>

  <section class="section-3">
    <h2 class="section-3-heading">Your Impact - Charity Statistics</h2>

    <article class="scholarship-supporter-section">
      <div class="text-section-2">
        <div class="words-2">
          <p class="text-heading">UNICEF</p>
          <p class="para">
            UNICEF has been instrumental in collecting donations worldwide, amassing a staggering amount that speaks volumes about global
            generosity.
          </p>
          <p class="para">
            The statistics reflect the immense goodwill of donors, underscoring UNICEF's pivotal role in humanitarian endeavors.
          </p>
        </div>
        <!--      <div class="text-button-2">View Charity</div>-->
      </div>
      <div class="scholarship-supporter-pic"></div>
    </article>

    <article class="find-scholarship-section">
      <div class="scholarship-supporter-pic"></div>
      <div class="text-section">
        <div class="words">
          <p class="text-heading">Amnesty International</p>
          <p class="para">
            Amnesty International's donation statistics highlight widespread support, empowering vital human rights initiatives globally.
          </p>
          <p class="para">
            With steadfast dedication, Amnesty International has gathered significant funds, driving essential advocacy efforts worldwide.
          </p>
        </div>
      </div>
    </article>

    <article class="scholarship-supporter-section">
      <div class="text-section-2">
        <div class="words-2">
          <p class="text-heading">Action Against Homeless</p>
          <p class="para">
            Action Against Homelessness' donation statistics demonstrate widespread support, powering essential initiatives to combat
            homelessness.
          </p>
          <p class="para">
            Through dedicated efforts, significant funds have been amassed, driving impactful interventions to aid those in need.
          </p>
        </div>
        <!--      <div class="text-button-2">View Charity</div>-->
      </div>
      <div class="scholarship-supporter-pic"></div>
    </article>

    <article class="find-scholarship-section">
      <div class="scholarship-supporter-pic"></div>
      <div class="text-section">
        <div class="words">
          <p class="text-heading">Beat UOB</p>
          <p class="para">
            Beat UOB's donation statistics reflect widespread support, fueling critical initiatives against eating disorders.
          </p>
          <p class="para">
            Through dedicated efforts, significant funds have been amassed, driving impactful interventions to support those affected.
          </p>
        </div>
      </div>
    </article>

    <article class="scholarship-supporter-section">
      <div class="text-section-2">
        <div class="words-2">
          <p class="text-heading">Make a Smile</p>
          <p class="para">
            Make a Smile's donation statistics showcase broad support, fueling essential initiatives to bring smiles to those in need.
          </p>
          <p class="para">
            Through dedicated efforts, significant funds have been amassed, driving impactful interventions to uplift lives.
          </p>
        </div>
        <!--      <div class="text-button-2">View Charity</div>-->
      </div>
      <div class="scholarship-supporter-pic"></div>
    </article>
  </section>
</div>
