<div>
  <h2 id="page-heading" data-cy="CharityAdminHeading">
    <span>Charity Admins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-charity-admin"
        [routerLink]="['/charity-admin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Charity Admin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="charityAdmins?.length === 0">
    <span>No Charity Admins found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="charityAdmins && charityAdmins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isCharityAdmin">
            <div class="d-flex">
              <span>Is Charity Admin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetPlanner.id">
            <div class="d-flex">
              <span>Budget Planner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityProfile.charityName">
            <div class="d-flex">
              <span>Charity Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charityAdmin of charityAdmins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/charity-admin', charityAdmin.id, 'view']">{{ charityAdmin.id }}</a>
          </td>
          <td>{{ charityAdmin.isCharityAdmin }}</td>
          <td>
            <div *ngIf="charityAdmin.budgetPlanner">
              <a [routerLink]="['/budget-planner', charityAdmin.budgetPlanner.id, 'view']">{{ charityAdmin.budgetPlanner.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charityAdmin.charityProfile">
              <a [routerLink]="['/charity-profile', charityAdmin.charityProfile.id, 'view']">{{
                charityAdmin.charityProfile.charityName
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/charity-admin', charityAdmin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/charity-admin', charityAdmin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(charityAdmin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
