@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

//.navbar-version {
//  font-size: 2em;
//  color: #6F5D44;
//}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
.centered-navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav .nav-link {
  color: #140d07;
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.navbar-nav .nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.navbar {
  background-color: #d1b7a1 !important;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .dropdown-toggle::after {
    content: none;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #6f5d44;
  }

  a.nav-link {
    font-weight: 400;
    font-size: 23px;
  }

  //.dropdown-item{
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  margin-top: 11px;
  //}

  .navbar-toggler {
    &:hover {
      color: $navbar-light-hover-color;
      text-decoration: underline;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  background: url('/../../../content/images/output-onlinepngtools (2).png') no-repeat center center;

  background-size: contain;
}
