@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

//.navbar-version {
//  font-size: 2em;
//  color: #6F5D44;
//}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.centered-navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//.admin-navbar{
//  position: absolute;
//  left: 64%;
//  transform: translateX(-50%);
//}
.navbar-nav .nav-link {
  //color: #140d07;
  color: var(--text-color);
  position: relative;
  text-decoration: none; /* Remove default underline */
}
.navbar-nav .nav-link {
  color: #140d07;
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.navbar-nav .nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.navbar {
  //background-color: #d2b48c !important;
  background-color: var(--navbar-bg-color) !important;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);

  .dropdown-toggle::after {
    content: none;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #6f5d44;
  }

  .navbar.nav-item1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .navbar-nav-item1 {
    margin: 0 auto;
  }
  .navbar-text {
    color: var(--text-color);
  }

  a.nav-link {
    font-weight: 400;
    font-size: 23px;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1000px) {
  .container-fluid {
    padding: 0px;
  }
  .navbar-brand {
    margin: 0px;
    height: 20%;
    width: 20%;
  }
  .nav-item {
    height: 20%;
    width: 30%;
    font-size: 7px;
  }
  a.nav-link {
    height: 100%;
    width: 100%;
    font-size: 12px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: fit-content;
    margin-left: 10px;
    column-gap: 5px;
  }

  .navbar-text {
    font-size: 16px;
  }

  .navbar-toggler .fa-bars {
    display: block;
  }

  .navbar-toggler .fa-times {
    display: none;
  }

  .navbar-toggler.collapsed .fa-bars {
    display: none;
  }

  .navbar-toggler.collapsed .fa-times {
    display: block;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  background: var(--logo-pic);

  background-size: contain;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode icon styles */
.slider:before {
  /* Add icons here */
  background-image: url('../../../content/images/images.png');
  background-size: contain;
}

/* Adjust the background images for the icons when checked */
input:checked + .slider:before {
  background-image: url('../../../content/images/night-mode-1.png');
}

@media (max-width: 1000px) {
  .logo-img {
    height: 40px;
    width: 100%;
    background-size: contain;
  }

  .dropdown-menu:last-child {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .gap-mobile {
    margin-top: 0px;
  }
  .dropdown-toggle {
    margin-top: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
}
