.banner-area {
  background-image: url('content/images/events_banner_image.png');
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  background-size: cover;
  display: flex;
  margin-bottom: 50px;
}

.page-heading {
  margin-top: 150px;
  margin-left: 25px;
  width: 600px;
  height: 50px;
  color: white;
  font-weight: bold;
}

.banner-img {
  height: 300px;
  width: 900px;
  opacity: 0.9;
}

/* add event section */
.add-event-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.component1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* event box section */
.event-box {
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  background-color: #fffacd;
}

.event-text-section {
  padding-left: 10px;
  padding-right: 15px;
  height: 200px;

  align-items: center;
  justify-content: center;
  margin-top: 10px; /* You can adjust this value to decrease the space */
}

.event-name {
  display: flex;
  align-content: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 1px;
  justify-content: center;
}

.timings {
  text-align: left;
  font-weight: bold;
}

.timings .duration {
  font-size: 16px;
  color: black; /* Adjust color as needed */
  display: block; /* This makes the duration appear on a new line */
  font-weight: bold;
}

.location {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  margin-bottom: 4px;
}

.location:hover {
  color: blue;
}

.description {
  text-size: small;
  margin-bottom: 20px;
  font-size: medium;
  height: 120px;
  margin-bottom: 5px;
  overflow: hidden;
}

.charity-name {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}
.charity-name:hover {
  color: blue;
}

.event-type {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 1px;
}
.add-event-section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.charityProfile {
  color: black;
}

/*.search-box {*/
/*  padding: 6px;*/
/*  border: none;*/
/*  font-size: 17px;*/
/*  border-radius: 8px;*/
/*}*/

.search-box-container {
  display: flex;
  align-items: center;
}

.search-box-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
  font-size: 16px;
  margin-right: 8px;
}

.search-box-button {
  background-color: #0073e6;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.search-box-button:hover {
  background-color: #005aa7;
}

.search-box-button:focus {
  outline: none;
}

.fa-icon {
  font-size: 18px;
}
