<div>
  <h2 id="page-heading" data-cy="CharityEventHeading">
    <span>Charity Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-charity-event"
        [routerLink]="['/charity-event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Charity Event </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="charityEvents?.length === 0">
    <span>No Charity Events found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="charityEvents && charityEvents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eventName">
            <div class="d-flex">
              <span>Event Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eventTimeDate">
            <div class="d-flex">
              <span>Event Time Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="images">
            <div class="d-flex">
              <span>Images</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span>Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span>Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityType">
            <div class="d-flex">
              <span>Charity Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="charityProfile.charityName">
            <div class="d-flex">
              <span>Charity Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charityEvent of charityEvents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/charity-event', charityEvent.id, 'view']">{{ charityEvent.id }}</a>
          </td>
          <td>{{ charityEvent.eventName }}</td>
          <td>{{ charityEvent.eventTimeDate | formatMediumDatetime }}</td>
          <td>{{ charityEvent.description }}</td>
          <td>
            <a *ngIf="charityEvent.images" (click)="openFile(charityEvent.images, charityEvent.imagesContentType)">
              <img
                [src]="'data:' + charityEvent.imagesContentType + ';base64,' + charityEvent.images"
                style="max-height: 30px"
                alt="charityEvent image"
              />
            </a>
            <span *ngIf="charityEvent.images">{{ charityEvent.imagesContentType }}, {{ byteSize(charityEvent.images) }}</span>
          </td>
          <td>{{ charityEvent.duration }}</td>
          <td>{{ charityEvent.location }}</td>
          <td>{{ charityEvent.charityType }}</td>
          <td>
            <div *ngIf="charityEvent.charityProfile">
              <a [routerLink]="['/charity-profile', charityEvent.charityProfile.id, 'view']">{{
                charityEvent.charityProfile.charityName
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/charity-event', charityEvent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/charity-event', charityEvent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(charityEvent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
