<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
    <link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet" />
  </head>
  <body>
    <div class="home">
      <div class="row">
        <div class="hipster">
          <p class="overlay-text">UOB Charity Hub</p>
        </div>
      </div>
      <div class="row">
        <h1 class="underline">Our Charities:</h1>
      </div>

      <button class="container6" (click)="goToCharityProfile('1001')">
        <div class="image-container">
          <img src="../../content/images/uniceflogo.jpg" alt="Charity Image" />
        </div>
        <div class="description2">
          <h2>UNICEF on campus</h2>
          <p>
            Welcome, new and potential students! University of Birmingham In Aid of UNICEF is a society that focuses on raising awareness
            and money for children in need. University of Birmingham In Aid of UNICEF is for anyone that supports the work of UNICEF and
            wants to take a stand to ensure every child has a minimum quality of life!
          </p>
        </div>
      </button>

      <button class="container6" (click)="goToCharityProfile('1102')">
        <div class="description2">
          <h2>Amnesty at UoB</h2>
          <p>
            We campaign for human rights on campus. We are part of the global Amnesty International movement and coordinate our campaigns
            across the UK. We meet weekly and have regular socials. Amnesty International is a global movement that campaigns to end human
            rights abuses globally. The topics can be as narrow as releasing someone who was unjustly imprisoned to, as wide as fighting
            against police brutality.
          </p>
        </div>

        <div class="image-container-right">
          <img src="../../content/images/amnestylogo.jpg" alt="Charity Image" />
        </div>
      </button>

      <button class="container6" (click)="goToCharityProfile('1103')">
        <div class="image-container">
          <img src="../../content/images/AAH.jpeg" alt="Charity Image" />
        </div>
        <div class="description2">
          <h2>Action Against Homelessness (AAH)</h2>
          <p>
            Our mission is to aid the homeless and vulnerable in Birmingham and the surrounding areas. We carry out lots of volunteering
            around the local area and do fundraising on campus, as well as collections of clothes and essentials and posting educational
            content on social media... and of course lots of socials!
          </p>
        </div>
      </button>

      <button class="container6" (click)="goToCharityProfile('1104')">
        <div class="description2">
          <h2>BEAT UoB</h2>
          <p>
            Beat UoB is a campaigning and fundraising society for Beat - the UK's largest eating disorder charity. It is Beat's vision to
            end the suffering caused by eating disorders. Beat helps those who suffer with eating disorders. They provide support for those
            who know someone with an eating disorder and they resource the most accurate and effective information possible regarding eating
            disorders in order to challenge and break down the stigmas associated with them.
          </p>
        </div>
        <div class="image-container-right">
          <img src="../../content/images/BEAT.jpeg" alt="Charity Image" />
        </div>
      </button>

      <button class="container6" (click)="goToCharityProfile('1105')">
        <div class="image-container">
          <img src="../../content/images/masmile.png" alt="Charity Image" />
        </div>
        <div class="description2">
          <h2>Make A Smile UoB</h2>
          <p>
            At Make a Smile, our goal is to bring some magic to children who have had a difficult start to life; be that through disability,
            neurodivergence or adverse life experiences. Our volunteers visit playgroups, hospitals and specialist centres in costume so
            that children can meet their favourite characters (Disney princesses, superheroes Jedis etc)
          </p>
        </div>
      </button>
    </div>
  </body>
</html>
