<!--
<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>UOB FUNDRAISE</span> (Teamproject)</h1>

    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <p>If you have any question on JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>
</div>
-->

<div class="home">
  <div class="row">
    <link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet" />
    <div class="hipster">
      <a href="#" class="overlay-link"> Find Out More...</a>
      <p class="overlay-text">UOB Charity Hub</p>
    </div>
  </div>

  <div class="row">
    <h1 class="underline">Our Charities:</h1>
    <!--
    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
      >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
      >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>
    -->
  </div>

  <!--
  <div class="container">
    <div class="image-container">
      <img src="../../content/images/amnestylogo.jpg"  alt="Charity Image">
    </div>
    <div class="description">
      <h2>Charity Name</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod, ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.</p>
    </div>
  </div>
-->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
    <div class="container2">
      <div class="image-container">
        <img src="../../content/images/uniceflogo.jpg" alt="Charity Image" />
      </div>
      <div class="description2">
        <h2>Unicef</h2>
        <p>Description Coming Soon!</p>
      </div>
    </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
    <div class="container2">
      <div class="image-container">
        <img src="../../content/images/amnestylogo.jpg" alt="Charity Image" />
      </div>
      <div class="description2">
        <h2>Amnesty</h2>
        <p>Description Coming Soon!</p>
      </div>
    </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
    <div class="container2">
      <div class="image-container">
        <img src="../../content/images/AAH.jpeg" alt="Charity Image" />
      </div>
      <div class="description2">
        <h2>Action Against Homelessness (AAH)</h2>
        <p>Description Coming Soon!</p>
      </div>
    </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
    <div class="container2">
      <div class="image-container">
        <img src="../../content/images/BEAT.jpeg" alt="Charity Image" />
      </div>
      <div class="description2">
        <h2>BEAT UoB</h2>
        <p>Description Coming Soon!</p>
      </div>
    </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
    <div class="container2">
      <div class="image-container">
        <img src="../../content/images/masmile.png" alt="Charity Image" />
      </div>
      <div class="description2">
        <h2>Make A Smile</h2>
        <p>Description Coming Soon!</p>
      </div>
    </div>
  </body>
</div>
