<div class="home">
  <div class="row">
    <link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet" />
    <div class="hipster">
      <a href="#" class="overlay-link"> Find Out More...</a>
      <p class="overlay-text">UOB Charity Hub</p>
    </div>
  </div>

  <div class="row">
    <h1 class="underline">Our Charities:</h1>
    <!--
    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
      >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
      >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>
    -->
  </div>

  <!--
  <div class="container">
    <div class="image-container">
      <img src="../../content/images/amnestylogo.jpg"  alt="Charity Image">
    </div>
    <div class="description">
      <h2>Charity Name</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod, ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.</p>
    </div>
  </div>
-->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
  <div class="container2">
    <div class="image-container">
      <img src="../../content/images/uniceflogo.jpg" alt="Charity Image" />
    </div>
    <div class="description2">
      <h2>Unicef</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod,
        ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec
        neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.
      </p>
    </div>
  </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
  <div class="container2">
    <div class="image-container">
      <img src="../../content/images/amnestylogo.jpg" alt="Charity Image" />
    </div>
    <div class="description2">
      <h2>Amnesty</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod,
        ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec
        neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.
      </p>
    </div>
  </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
  <div class="container2">
    <div class="image-container">
      <img src="../../content/images/AAH.jpeg" alt="Charity Image" />
    </div>
    <div class="description2">
      <h2>Action Against Homelessness (AAH)</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod,
        ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec
        neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.
      </p>
    </div>
  </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
  <div class="container2">
    <div class="image-container">
      <img src="../../content/images/BEAT.jpeg" alt="Charity Image" />
    </div>
    <div class="description2">
      <h2>BEAT UoB</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod,
        ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec
        neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.
      </p>
    </div>
  </div>
  </body>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UOB in aid of UNICEF</title>
  </head>
  <body>
  <div class="container2">
    <div class="image-container">
      <img src="../../content/images/masmile.png" alt="Charity Image" />
    </div>
    <div class="description2">
      <h2>Make A Smile</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis magna. Proin malesuada libero sit amet ante euismod,
        ut hendrerit libero ullamcorper. Nullam nec suscipit leo. Nunc quis vestibulum nisi. Nulla ac lacinia eros. Fusce tempor lorem nec
        neque tempor, at venenatis nunc varius. Nullam feugiat justo non dolor tincidunt, in placerat turpis aliquet.
      </p>
    </div>
  </div>
  </body>
</div>
