.home {
  background-color: #d8c3a9;
  position: relative; /* Change this color to your desired background color */
}

.row {
  background-color: #d8c3a9;
}

.hipster {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: url('../../content/images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center; // Vertically align items
  .image-container {
    width: 250px; // Adjust as needed
    height: 150px; // Adjust as needed
    margin-right: 10px; // Adjust spacing between logo and text
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Maintain aspect ratio and cover the container
    }
  }

  .description {
    h2 {
      margin-top: 0; // Remove default margin for h2
      font-family: 'EB Garamond', Garamond, serif;
    }

    p {
      font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    }
  }
}

.underline {
  text-decoration: underline;
}

.container6 {
  display: flex;
  background-color: #9d7e5f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  width: 100%; /* Take up full width of the page */
  margin-bottom: 20px;
  h2 {
    margin-top: 5px; // Remove default margin for h2
    font-family: 'EB Garamond', Garamond, serif;
    color: white;
    text-decoration: underline;
  }
  p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: white;
  }
}

.image-container {
  flex: 1;
  flex: 0 0 200px; /* Fixed width for the image container */
  height: 200px; /* Fixed height for the image container */
  overflow: hidden; /* Hide overflow if image is larger */
}
.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description2 {
  flex: 1;
  padding: 20px;
}
.container2-right {
  display: flex;
  align-items: center; // Align items vertically in the center
  justify-content: space-between; // Space between the text and image
  background-color: #6f5d44; // Or any color of your choice
  padding: 20px; // Add some padding inside the container
  border-radius: 5px; // Optional: Adds rounded corners to the container
}
.description2-right {
  // If you want the text to take up more space when the image is on the right
  flex: 1;
  margin-right: 20px; // Add some space between the text and the image
}
.image-container-right {
  flex: 1;
  flex: 0 0 200px; /* Fixed width for the image container */
  height: 200px; /* Fixed height for the image container */
  overflow: hidden; /* Hide overflow if image is larger */
}

.image-container-right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-link {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #ccc5b7;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 1; /* Ensure the overlay appears on top of the image */
  font-family: 'Lemon/Milk light', sans-serif;
  font-size: 20px;
  opacity: 0.7;
  font-weight: bold;
}
.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #ccc5b7;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 1; /* Ensure the overlay appears on top of the image */
  font-family: 'Lemon/Milk light', sans-serif;
  font-size: 34px;
  opacity: 0.7;
  font-weight: bold;
}

.overlay-text {
  top: 40%; /* Adjust vertical position as needed */
}
