<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="media">
      <h2 data-cy="mediaDetailsHeading"><span>Media</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ media.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ media.type }}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
          <span>{{ media.url }}</span>
        </dd>
        <dt><span>Post</span></dt>
        <dd>
          <div *ngIf="media.post">
            <a [routerLink]="['/post', media.post.id, 'view']">{{ media.post.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/media', media.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
