<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-donator-page-heading" data-cy="DonatorPageCreateUpdateHeading">Create or edit a Donator Page</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_anonymous">Anonymous</label>
          <input type="checkbox" class="form-check" name="anonymous" id="field_anonymous" data-cy="anonymous" formControlName="anonymous" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_groupDonation">Group Donation</label>
          <input
            type="checkbox"
            class="form-check"
            name="groupDonation"
            id="field_groupDonation"
            data-cy="groupDonation"
            formControlName="groupDonation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_charityProfile">Charity Profile</label>
          <select
            class="form-control"
            id="field_charityProfile"
            data-cy="charityProfile"
            name="charityProfile"
            formControlName="charityProfile"
            [compareWith]="compareCharityProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityProfileOption" *ngFor="let charityProfileOption of charityProfilesSharedCollection">
              {{ charityProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
