<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="add-donator-header">
        <h2 class="add-donator-heading" id="jhi-donator-page-heading" data-cy="DonatorPageCreateUpdateHeading">
          Step 1 of 2: Donation Details
        </h2>
        <h6><span class="required-star">*</span>indicates Required fields</h6>
        <div class="text">(Step 2: The payment step has not been implemented due to legal reasons.)</div>
      </div>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3 input-field">
          <label class="form-label label" for="field_name"
            >Enter your Name (to be displayed on Live Tracker) <span class="required-star">*</span></label
          >
          <input type="text" class="form-control input-bar" name="name" id="field_name" data-cy="name" formControlName="name" required />
        </div>

        <div class="row mb-3 input-field">
          <label class="form-label label" for="field_anonymous">Do you want to make your donation Anonymous?</label>
          <input
            type="checkbox"
            class="form-check checkbox-style"
            name="anonymous"
            id="field_anonymous"
            data-cy="anonymous"
            formControlName="anonymous"
          />
        </div>

        <div class="row mb-3 input-field">
          <label class="form-label label" for="field_amount">Enter an amount (in £)<span class="required-star">*</span></label>
          <input type="number" class="form-control input-bar" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <!--        <div class="row mb-3">-->
        <!--          <label class="form-label" for="field_groupDonation">Group Donation</label>-->
        <!--          <input-->
        <!--            type="checkbox"-->
        <!--            class="form-check"-->
        <!--            name="groupDonation"-->
        <!--            id="field_groupDonation"-->
        <!--            data-cy="groupDonation"-->
        <!--            formControlName="groupDonation"-->
        <!--          />-->
        <!--        </div>-->

        <div class="row mb-3 input-field">
          <label class="form-label label" for="field_charityProfile">Pick a Charity<span class="required-star">*</span></label>
          <select
            class="form-control input-bar"
            id="field_charityProfile"
            data-cy="charityProfile"
            name="charityProfile"
            formControlName="charityProfile"
            [compareWith]="compareCharityProfile"
            required
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityProfileOption" *ngFor="let charityProfileOption of charityProfilesSharedCollection">
              {{ charityProfileOption.charityName }}
            </option>
          </select>
        </div>
      </div>

      <div class="button-section">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-primary cancel-button"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary donate-now-button"
        >
          <span>Donate</span>
        </button>
      </div>
    </form>
  </div>
</div>
