<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-charity-event-heading" data-cy="CharityEventCreateUpdateHeading">Create or edit a Charity Event</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventName">Event Name</label>
          <input type="text" class="form-control" name="eventName" id="field_eventName" data-cy="eventName" formControlName="eventName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventTimeDate">Event Time Date</label>
          <div class="d-flex">
            <input
              id="field_eventTimeDate"
              data-cy="eventTimeDate"
              type="datetime-local"
              class="form-control"
              name="eventTimeDate"
              formControlName="eventTimeDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_images">Images</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imagesContentType')!.value + ';base64,' + editForm.get('images')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('images')!.value"
              alt="charityEvent image"
            />
            <div *ngIf="editForm.get('images')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imagesContentType')!.value }}, {{ byteSize(editForm.get('images')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('images', 'imagesContentType', 'file_images')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_images" data-cy="images" (change)="setFileData($event, 'images', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="images" id="field_images" data-cy="images" formControlName="images" />
          <input
            type="hidden"
            class="form-control"
            name="imagesContentType"
            id="field_imagesContentType"
            formControlName="imagesContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duration">Duration</label>
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_charityProfile">Charity Profile</label>
          <select
            class="form-control"
            id="field_charityProfile"
            data-cy="charityProfile"
            name="charityProfile"
            formControlName="charityProfile"
            [compareWith]="compareCharityProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="charityProfileOption" *ngFor="let charityProfileOption of charityProfilesSharedCollection">
              {{ charityProfileOption.charityName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
