<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="post">
      <h2 data-cy="postDetailsHeading"><span>Post</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ post.id }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ post.content }}</span>
        </dd>
        <dt><span>Timestamp</span></dt>
        <dd>
          <span>{{ post.timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Likes</span></dt>
        <dd>
          <span>{{ post.likes }}</span>
        </dd>
        <dt><span>Shares</span></dt>
        <dd>
          <span>{{ post.shares }}</span>
        </dd>
        <dt><span>Social Feed</span></dt>
        <dd>
          <div *ngIf="post.socialFeed">
            <a [routerLink]="['/social-feed', post.socialFeed.id, 'view']">{{ post.socialFeed.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
