<div
  class="background-container"
  [style.background-image]="
    'linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(data:image/png;base64,' + charityProfile?.pictures + ')'
  "
>
  <div class="background-overlay"></div>
  <div class="d-flex justify-content-center align-items-center text-center h-100">
    <div class="col-8">
      <div class="charity-info">
        <h2 class="charity-name">{{ charityProfile?.charityName }}</h2>
        <img
          [src]="'data:' + charityProfile?.logoContentType + ';base64,' + charityProfile?.logo"
          alt="Charity Logo"
          class="charity-logo"
        />
        <div class="edit-button-container">
          <button
            *ngIf="charityProfile"
            type="button"
            [routerLink]="['/charity-profile', charityProfile.id, 'edit']"
            class="btn btn-primary"
          >
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
        <div class="button-container">
          <button type="button" class="btn btn-lg btn-primary" style="color: #ffffff" routerLink="/donator-page">
            <fa-icon icon="briefcase" style="font-size: 20px"></fa-icon>&nbsp; Donate
          </button>

          <button type="button" class="btn btn-lg btn-primary" style="color: #ffffff" routerLink="/vacancies">
            <fa-icon icon="briefcase" style="font-size: 20px"></fa-icon>&nbsp; Volunteer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container1">
  <div class="purpose-aim">
    <div class="purpose">
      <h3 class="section-title" style="text-align: center">Purpose</h3>
      <p>{{ charityProfile?.purpose }}</p>
    </div>
    <div class="aim">
      <h3 class="section-title" style="text-align: center">Aim</h3>
      <p>{{ charityProfile?.aim }}</p>
    </div>
  </div>
  <button type="button" class="btn btn-lg btn-outline-white" style="color: #ffffff" routerLink="/vacancies">
    <fa-icon icon="briefcase" style="font-size: 20px"></fa-icon>&nbsp; Contact us
  </button>
</div>

<button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
</button>
