.vacancyImage {
  display: flex;
  height: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-left: 65px;
}
.vacancyLogo {
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}
.vacancyDescription {
  text-align: center;
}

.job {
  margin-left: 10px;
  width: 25%;
  align-content: center;
  border: solid #d2b48c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.vacancyDetail {
  text-align: center;
}

.form-container {
  top: -1500px;
  margin-left: 500px;
  display: flex;
}
.form {
  border: solid #d2b48c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -600px;
  display: flex;
  width: 100%;
}

.col-8 {
  margin-top: -325px;
}
@media (max-width: 800px) {
  .job {
    width: 100%;
    margin: 10px auto;
  }

  .form-container {
    margin: 20px;
    width: 90%;
  }

  .col-8 {
    width: 100%;
    margin-top: 20px;
  }
  .vacancyLogo {
    max-width: 75%;
    max-height: 75%;
  }
}
