<div class="row-md">
  <div class="job">
    <div class="vacancyImage">
      <a>
        <img
          class="vacancyLogo"
          [src]="'data:' + vacancy?.vacancyLogoContentType + ';base64,' + vacancy?.vacancyLogo"
          alt="vacancies image"
        />
      </a>
    </div>
    <div class="vacancyDetail">
      <span style="font-weight: bold">Job:</span>
      {{ vacancy?.vacancyTitle }}<br />
    </div>
    <div class="vacancyDetail">
      <span style="font-weight: bold">Start Date: </span>
      {{ vacancy?.vacancyStartDate | formatMediumDate }}<br />
    </div>
    <div class="vacancyDetail">
      <span style="font-weight: bold">Location: </span>
      {{ vacancy?.vacancyLocation }}<br />
    </div>
    <div class="vacancyDetail">
      <span style="font-weight: bold">Duration: </span>
      {{ vacancy?.vacancyDuration }}<span> Hours</span><br />
    </div>
    <div class="vacancyDescription">
      <span style="font-weight: bold">Description:</span>
      {{ vacancy?.vacancyDescription }}<br />
    </div>
  </div>
  <div class="form-container">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')" data-cy="VolunteerApplicationsCreateUpdateHeading">
          Application for {{ vacancy?.vacancyTitle }}
        </h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_timeStamp">Time of Application</label>
            <div class="d-flex">
              <input
                id="field_timeStamp"
                data-cy="timeStamp"
                type="datetime-local"
                class="form-control"
                name="timeStamp"
                formControlName="timeStamp"
                placeholder="YYYY-MM-DD HH:mm"
                [readOnly]="true"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_charityAdmin">Charity Name</label>
            <select
              class="form-control"
              id="field_charityAdmin"
              data-cy="charityAdmin"
              name="charityAdmin"
              formControlName="charityAdmin"
              [compareWith]="compareCharityAdmin"
              required
            >
              <option [ngValue]="charityAdmin" selected *ngIf="charityAdmin?.id">{{ charityAdmin?.charityProfile?.charityName }}</option>
            </select>
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_charityHubUser">Charity Hub User</label>
            <select
              class="form-control"
              id="field_charityHubUser"
              data-cy="charityHubUser"
              name="charityHubUser"
              formControlName="charityHubUser"
              [compareWith]="compareCharityHubUser"
              required
            >
              <!--              <option [ngValue]="null"></option>-->
              <option [ngValue]="charityHubUser" *ngIf="charityHubUser?.id">{{ charityHubUser?.username }}</option>
            </select>
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_vacancies">Vacancy</label>
            <select
              class="form-control"
              id="field_vacancies"
              data-cy="vacancies"
              name="vacancies"
              formControlName="vacancies"
              [compareWith]="compareVacancies"
              required
            >
              <option [ngValue]="vacancy" *ngIf="vacancy?.id" selected>{{ vacancy?.vacancyTitle }}</option>
              <!--              <option [ngValue]="null"></option>-->
              <!--              <option [ngValue]="vacanciesOption" *ngFor="let vacanciesOption of vacanciesSharedCollection">{{ vacanciesOption.vacancyTitle }}</option>-->
            </select>
          </div>
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
