@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
$light-theme: (
  background-color: #d8c3a9,
  text-color: #000000,
  link-color: #065fd4,
  error-color: red,
  primary-color: #9d7e5f,
  border-color: #ccc,
);

// Define dark theme variables
$dark-theme: (
  background-color: #121212,
  text-color: #ffffff,
  link-color: #90caf9,
  error-color: #ff6b6b,
  primary-color: #333,
  border-color: #666,
);

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
:root {
  --background-color: #d8c3a9;
  --background-color2: #9d7e5f;
  --idea-bg-color2: #d2b48c;
  --navbar-bg-color: #d2b48c;
  --footer-bg-color: #6a553f;
  --donate-bg-color: #e5bb89;
  --donate-bg-color-2: #e5bb89;
  --text-color: #000000; // Dark text
  --navbar-background-color: #f8f9fa;
  --navbar-text-color: #000000;
  --hover-bg-color: darken(#9d7e5f, 5%);
  --conic-gradient: conic-gradient(#e5bb89 60%, #d8c3a9 40%);
  --logo-pic: url('../../content/images/output-onlinepngtools.png') no-repeat center center;
}

// Dark theme variables
[data-theme='dark'] {
  --background-color: #121212;
  --background-color2: #505050;
  --idea-bg-color2: #505050;
  --navbar-bg-color: #505050;
  --footer-bg-color: #222222;
  --donate-bg-color: #505050;
  --donate-bg-color-2: #222222;
  --text-color: #ffffff;
  --navbar-background-color: #333333;
  --navbar-text-color: #ffffff;
  --hover-bg-color: darken(#505050, 5%);
  --conic-gradient: conic-gradient(black 60%, white 40%);
  --logo-pic: url('../../content/images/logogosvg.svg') no-repeat center center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

//body {
//  background-color: #d8c3a9; /* Change this color to your desired background color */
//}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  //padding: 1.5%;
  //margin-top: 20px;
  border: none;
  //background-color: #d8c3a9;
  background-color: var(--background-color);
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 0px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  //background-color: #d8c3a9;
  background-color: var(--navbar-bg-color);
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 20px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
//  @media screen and (max-width:100px)
.background-container {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3));
  width: 100%;
  min-height: 50vh;
}

.edit-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.container1 {
  width: 100%;
  margin: 0px;
  text-align: left;
  padding-top: 50px;
  min-height: 50vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  //background-color: #9d7e5f;
  background-color: var(--background-color2);
  //charityProfile color dont change
}

.charity-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.charity-name {
  font-size: 50px;
  color: antiquewhite;
  position: relative;
  top: -40px;
}
.charity-logo {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
  margin-top: -40px;
  border-radius: 60%;
}

.purpose-aim {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  align-content: center;
}
.purpose {
  flex-basis: 48%;
  color: antiquewhite;
  padding-left: 30px;
  margin-top: -35px;
  font-size: 20px;
  padding-top: 20px;
}
.aim {
  text-align: center;
  flex-basis: 48%;
  color: antiquewhite;
  padding-left: 30px;
  margin-top: -35px;
  font-size: 20px;
}
.btn-outline-white {
  position: absolute;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-top: 60px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.button-container button {
  margin: 0 5px;
}
button:hover {
  text-decoration: underline;
}
.container2 {
  width: 100%;
  margin: 0px;
  text-align: left;
  padding-top: 100px;
  min-height: 50vh;
  position: relative;
  z-index: 1;
  //background-color: #d8c3a9;
  background-color: var(--background-color);
}
.container2 button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.container3 {
  width: 100%;
  margin: 0px;
  text-align: left;
  padding-top: 100px;
  min-height: 50vh;
  position: relative;
  z-index: 1;
  background-color: var(--donate-bg-color);
}
.slash {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 60%;
  background-color: antiquewhite;
  transform: translateX(-50%);
  margin-top: 35px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--conic-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  //background: conic-gradient(#e5bb89 60%, #d8c3a9 40%);
  //background: conic-gradient(red, 60%, blue, 40%);
  background: var(--conic-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
.inner-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  //background-color: #9d7e5f;
  background-color: var(--background-color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.donators {
  font-size: 20px;
  color: antiquewhite;
}
.circle-container {
  text-align: center;
  position: relative;
  display: flex;
  margin-left: auto;
  padding-left: 100px;
}

.photo {
  padding-left: 140px;
}
.volunteerTrackerModal .modal-dialog {
  max-width: 1900px;
}

.container4 {
  background-color: var(--donate-bg-color-2);
  color: var(--text-color);
}
