<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="groupDonatorCollector">
      <h2 data-cy="groupDonatorCollectorDetailsHeading"><span>Group Donator Collector</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ groupDonatorCollector.id }}</span>
        </dd>
        <dt><span>Donator Name</span></dt>
        <dd>
          <span>{{ groupDonatorCollector.donatorName }}</span>
        </dd>
        <dt><span>Donation Amount</span></dt>
        <dd>
          <span>{{ groupDonatorCollector.donationAmount }}</span>
        </dd>
        <dt><span>Group Donator</span></dt>
        <dd>
          <div *ngIf="groupDonatorCollector.groupDonator">
            <a [routerLink]="['/group-donator', groupDonatorCollector.groupDonator.id, 'view']">{{
              groupDonatorCollector.groupDonator.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/group-donator-collector', groupDonatorCollector.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
